.user-msg, .bot-msg {
  margin-bottom: 10px;
  font-size: larger;
}

.user-msg {
  color: #0d6efd;
}

.bot-msg {
  color: #198754;
}

#history .text-muted {
  margin-bottom: 0.25rem;
}

.form-check-input.big-switch {
  width: 3rem;
  height: 1.5rem;
  margin-right: 10px;
}

.form-check-input.big-switch:checked {
  background-position: right center;
}
